body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  color: teal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

input, button {
  font-family: inherit;
  font-size: 1rem;
  margin-top: 0.5rem;
}

input {
  background-color: lightblue;
  border: 1px dashed teal;
  border-radius: 5px;
  padding: 0.5rem;
}

input:focus {
  outline: none;
  border-color: darkcyan;
}

button {
  cursor: pointer;
  background-color: teal;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: darkcyan;
}

button:active {
  background-color: cadetblue;
}